@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

a {
  @apply text-primary-600 underline-offset-4 hover:text-primary-700;
}

main {
  @apply min-h-screen;
}
